﻿@using Microsoft.AspNet.Identity
@using CalculadoraTallas.Models
@if (Request.IsAuthenticated)
{
    <div class="navbar-collapse collapse">
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-center" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        @{
                            string nombreUsuario = User.Identity.Name;
                            if (SessionHelper.mx != null)
                            {
                                nombreUsuario = SessionHelper.mx + " - " + SessionHelper.usuario;
                            }
                        }

                        &#32;@Html.Label(nombreUsuario, htmlAttributes: new { })<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">&#32;<i class="fa fa-fw fa-power-off"></i>@Html.Label("Cerrar sesión", htmlAttributes: new { color = "white" })</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </div>
}
