
<div class="modal fade " id="modalConfrim" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" 
     aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-sm">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h3>Confirmar</h3>
            </div>
            <!--Body-->
            <div class="modal-body">
                <p>Se va a eliminar el campo seleccionado</p>
                <p>¿Desea continuar?</p>
            </div>
            <!--Modal Footer-->
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-default CancelarShare" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary submitBtn" id="confirmDelete">Guardar</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
